@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Careem";
  src: url("/fonts/Careem-Regular.woff2") format("woff2"),
    url("/fonts/Careem-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Careem";
  src: url("/fonts/Careem-Bold.woff2") format("woff2"),
    url("/fonts/Careem-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  cursor: url("/images/cursor.png") 17 17, pointer;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


